@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条但保留滚动 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
